/* #4A6DE5 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');


.nav {
    font-size: 0.5em;
    padding: 2rem;
    font-family: 'Raleway', sans-serif;
}

.menu {
    list-style-type: none;
    display: none;
    color: #1F262A;
}

.nav-links {
    text-decoration: none;
    color: #1F262A;
    font-size: 3.5em;
}

.nav-links:hover {
    transform: translate(1.1);
}

.menu li {
    text-align: center;
    margin: 15px auto;
}

.image {
    display: inline-block;
    height: 3.5em;
    position: absolute;
    right: 3em;
    border: 1px solid #1F262A;;
    padding: 5px;
    /* margin: 0 auto; */
    color: #1F262A;
    margin-right: 10px;
}

.nav-toggle {
    cursor: pointer;
    font-size: 3rem;
    color: #1F262A;
    margin-left: 10px;
}

.active {
    display: block;
}

@media screen and (min-width: 768px) {
    .nav {
        display: flex; 
        justify-content: space-between;
        height: 70px;
        align-items: center;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .menu li {
        margin: 0;
    }

    .nav-links {
        margin-right: 40px;
        font-size: 1.8rem;
    }

    .nav-toggle {
        display: none;
    }
}
