* {
    margin: 0;

}
    /* color: #1F262A;  */
    /* background: #1f4954; */
    @import url('https://fonts.googleapis.com/css?family=Petit+Formal+Script&display=swap');

.about-container {
    font-family: 'Raleway', sans-serif;
    color: #1F262A; 
    padding: 1.5rem 4rem;
    border-top: 1px solid rgb(31, 38, 42, 0.3);
}

.about-container h1 {
    font-size: 3em;
}

.about-container h3 {
    padding-top: 1em;
}

.contact-me {
    font-size: 1.5em;
}

.about-line-through {
    height: 2px;
    background-color: #1F262A;
    width: 50%;
    margin: 1em 0;
}

.contact-me_image {
    font-size: 1.5em;
    padding-top: 1em;
}


@media screen and (min-width: 768px) {
    .about {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }
    .about-container h1 {
        font-size: 5rem;
    }

    .about-container h3, .about-me {
        font-size: 2rem;
    }

    .contact-me_image {
        font-size: 2rem;
    }
}




