* {
    margin: 0;
}

.about-container {
    height: auto;
    padding: 30px;
}


.about-container > h1 {
    font-family: 'Merriweather', serif;
    font-size: 150px;
    top: 45px;
}

.about {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    width: 100%;
    color: #FAF9E6;
    border: #650E3B 1px solid;
}

.contact-me {
    width: 50%;
    background: #ED7D39;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-me > h3 {
    font-size: 45px;
    padding: 50px
}

.about-me {
    font-size: 30px;
    padding: 60px;
}

.my-photos {
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}


