* {
    margin: 0;

}
    /* color: #1F262A;  */
    /* background: #1f4954; */
    @import url('https://fonts.googleapis.com/css?family=Petit+Formal+Script&display=swap');

.about-container {
    font-family: 'Raleway', sans-serif;
    color: #1F262A; 
    padding: 2em;
}

.about-container h1 {
    font-size: 3em;
}

.about-container h3 {
    padding-top: 1em;
}

.contact-me {
    font-size: 1.5em;
}

.about-line-through {
    height: 2px;
    background-color: black;
    width: 50%;
    margin: 1em 0;
}





