* {
    margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Pacifico|Acme&display=swap');

.container {
    background: #1a2128;
    border: 5px black solid;
    width: 100vw;
}

