* {
    margin: 0;
}

.color-container {
    display: grid; 
    height: 33vh;
    border: 5px black solid;
}

.color {
    height: 100px;
}

.button {
    height: 100px;
    text-align: center;
    background: tomato
}

.button2 {
    height: 100px;
    text-align: center;
    background: tomato
}

.button3 {
    height: 100px;
    text-align: center;
    background: tomato
}