* {
    margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Merriweather:300|Permanent+Marker&display=swap');

.work-container {
    /* border: purple 2px solid; */
    height: auto;
    padding: 30px;
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 150px;
    position: relative;
    top: 40px;
}

.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    width: 100%;
}

.workcard-container {
    background: #ffffff;;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    color: #650E3B;
    /* color: #957DAD; */
    flex-grow: 3;
    width: 48%;
    padding: 5px;
    /* border-left: #650E3B 1px solid; */
    border: #650E3B 1px solid;

}

.workcard-container > h3 {
    font-size: 50px;
    size: 100px;
    padding: 50px;
}

.workcard-container > .description {
    width: 300px;
    font-size: 30px;
    text-align: center;
    padding: 50px;
}

.workcard-container:nth-child(3n) {
    background: #FEC8D8;
    flex-grow: 3;
    width: 100%;
}

.someColorWork {
    width: 100%;
    height: 50px;
    background: #650E3B;
}

#workATagLink {
    font-size: 35px;
    size: 100px;
    padding: 50px;
    color: #650E3B;
}

#workATagLink:hover {
    font-size: 45pt;
    transition: transform 1000ms;
}
