* {
    margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.work-container {
    font-family: 'Raleway', sans-serif;
    /* color: #1F262A;  */
    color: rgb(245, 245, 245, 0.8);
    padding: 1.5rem 8rem;
    border-top: 1px solid #1f262a4d;
    /* background: rgb(71, 3, 166, 0.9); */
    background: rgb(9,1,38);
background: linear-gradient(90deg, rgba(9,1,38,1) 13%, rgba(38,2,115,1) 64%, rgba(124,5,242,1) 100%);

}

.work-container_title {
    font-size: 2.5em;
    padding-bottom: 2rem;
}

.work-card-container {
    height: 100%;
    
}

.section-one, .section-two, .section-three {
    height: 33%;
} 

.mySkills {
    height: auto;
    border-radius: 10px;
}


.solid-line_skills {
    height: 2px;
    background-color: black;
    width: 50%;
}

.front-end_title {
    font-size: 1.7rem;
    margin-bottom: 15px;
}

.front-end_icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.6rem;
    height: auto;
    padding: 2rem 0;
}

.back-end_icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.6rem;
    align-items: center;
    height: auto;
    padding: 2rem 0;
}

.more-skills {
    list-style-type: none;
    font-size: 15px;
}

.more-skills li {
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .work-container {
        padding: 1.5rem 10rem;
    }
    
    .work-card-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: none;
        grid-gap: 1rem;
    }
}






