* {
    margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.work-container {
    font-family: 'Raleway', sans-serif;
    color: #1F262A; 
    padding: 1.5rem 4rem;
    border-top: 1px solid rgb(31, 38, 42, 0.3);
}

.work-container_title {
    font-size: 3rem;
    padding-bottom: 2rem;
}

.work-card-container {
    height: 100%;
}

.section-one, .section-two, .section-three {
    height: 33%;
}

.mySkills {
    height: auto;
    border-radius: 10px;
}

.mySkills:nth-child(odd) {
    background-color: rgb(127, 255, 212, 0.1);
    border-radius: 4px;
}

.solid-line_skills {
    height: 2px;
    background-color: black;
    width: 50%;
}

.front-end_title {
    font-size: 1.7rem;
}

.front-end_icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.6rem;
    height: auto;
    padding: 2rem 0;
}

.back-end_icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.6rem;
    align-items: center;
    height: auto;
    padding: 2rem 0;
}

.more-skills {
    list-style-type: none;
    font-size: 15px;
}

.more-skills li {
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .work-card-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: none;
        grid-gap: 1rem;
    }
}






