* {
    margin: 0;
    font: 0;
    box-sizing: border-box;
}


.header {
    font-size: 50px;
    color: #F26430;
}

.navbar {
    height: 50px;
    padding: 5px;
    font-weight: bold;
    line-height: 2em;
    display: block;
    margin-left: 50%;
    align-items: center;
}

.navbar > a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    border-right: 1px solid #000;
    margin-right: 3px;
}

.navbar a:last-child  {
    border: none;
}

.main-body {
    height: auto;
    padding: 5px;
}

.main-body > h3 {
   height: 500px;
}

.footer {
    height: 100px;
    background: #0D0D0D;
    color: #B6F2F2;
    font-size: 20px;
}

