.main-container {
    background: #BDE5E0;
    height: 70vh;
    width: 100vw;
    /* background-image: url('../image/africa_background_continent.jpg');
    background-repeat: no-repeat;
    background-size: contain; */
}
