.main-container {
    background: #39cc;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    align-items: center;
    text-align: center;
    padding: 20px;
}

header {
    text-align: right;
    align-items: center;
    color: white;
    background: #39cc;
    height: 260px;
    padding: 10px;
    margin: 80px;
    border: #39cc solid 1xp;
    background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/2/21/Godfather15_flip.jpg/220px-Godfather15_flip.jpg");
    background-repeat: no-repeat;
}

img {
    width: 20vw;
    height: 15vh;
    padding: 10px;
    margin: 10px;
    background: white;
}

h1 {
    font-size: 50px;
    padding-right: 10px;
    /* padding-top: 10px; */
}