* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.parent-component {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    grid-gap: 5px;
    height: 75vh;
} 

.squares {
    border: 1px black solid;
    animation: slide-bck-center 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) infinite both;
}

@keyframes squares {
    0% {
      transform: translateZ(0);
    }
    100% {
      transform: translateZ(-400px);
    }
  }

button {
    font-size: 10px;
}
