* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');
/* font-family: 'DM Serif Display', serif; */
/* background-color: #ff5851; */

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');


.home {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../image/background-1.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.home-page {
    padding-left: 1em;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 300;
}

.home-page h2 {
    text-shadow: 4px 4px black;
    color: white;
    font-size: 4em;
    padding-bottom: .3em;
}

.home-page h3 {
    text-shadow: 4px 4px black;
    color: white;
    font-size: 2.5em;
    padding-bottom: .3em;
}

.line-through {
    height: 1px;
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 1em;
}

.font-awesome-fa {
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    font-size: 0.8em;
    cursor: pointer;
}


.font-awesome-fa i:hover {
    color: rgb(127, 255, 212);
}

.font-awesome-fa i {
    color: #ffffff;
}

@media screen and (min-width: 768px) {
    .home {
        display: flex;
        justify-content: flex-start;
    }

    .font-awesome-fa {
        padding-right: 4em; 
        font-size: 2em;
        display: flex;
        justify-content: space-between;
    }

    .home-page {
        text-align: left;
        padding: 5em;
    }

    .home-page h2 {
        text-shadow: 6px 6px black;
        font-size: 5em;
    }

    .home-page h3 {
        text-shadow: 6px 6px black;
        font-size: 3em;
    }

    .line-through {
        height: 4px;
        width: 100%;
        margin-bottom: 2em;
        text-shadow: 6px 6px black;
    }
}
