* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');

.home {
    padding: 5%;
}
.home-page {
    display: flex;
    height: 100vh;
    font-family: 'DM Serif Display', serif;
    padding: 5%;
}

.left-container {
    background-color: #ff5851;
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 200;
    position: absolute;
    top: 10%;
    left: -50%;
    transition: all, 0.4s, all 0.4s ease;
}

.left-container h2 {
    font-size: 4.5rem;
}

.left-container h3 {
    font-size: 2.5rem;
}

.home-page-header {
    font-size: 6rem;
    text-align: center;
}

.one{
	background: #91AA9D;
}

.left-container:hover{
	transform: translate(50%, 0);
}
