* {
    margin: 0;
    border: 0;
}

body {
    height: 400px;
}

.main-container {
    background-image: url('./images/piano.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
}

.key-container {
    display: grid;
    grid-template-columns: 75px 75px 75px;
    grid-template-rows: repeat(5, 75px);
    grid-gap: 5px;
    justify-content: center;
    transition: all 0.1s;
}

.key {
    align-items: center;
    background: rgb(255, 255, 255, 0.6);
    height: 75px;
    width: 75px;
    margin-top: 50px;
    border: solid black 1px;
    font-size: 75px;
    transition: all 0.3s;
    transition: border 2s ease-out;
    text-align: center;
    color: #ffffff;
}

.playing {
    transition: scale(1.1);
    border: palevioletred;
    box-shadow: palevioletred;
}

footer{
    background: black;
    height: 15vh;
    color: #ffffff;
    text-align: center;
    font-size: 25px;
}

