* {
    margin: 0;
    box-sizing: 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: lightcoral;
    height: 20px;
}

.footer {
    background: lightskyblue;
}

.main-container {
    background: lightseagreen;
}