* {
    margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Merriweather:300|Permanent+Marker&display=swap');

.resume-container {
    font-family: 'Raleway', sans-serif;
    color: #1F262A; 
    padding: 1.5rem 8rem;
    border-top: 1px solid rgb(31, 38, 42, 0.3);
    /* font-size: 2.5em; */
}

.resume-container_title {
    font-size: 2.5em;
    padding-bottom: 2rem;
}

.resume {
    background: rgb(31, 38, 42, 0.1);
    height: 150px;
    text-align: center;
    align-content: center;
    border-radius: 5px;
    font-size: 2rem;
}

@media screen and (min-width: 768px) {
    .resume-container {
        padding: 1.5rem 10rem;
    }

    /* .resume {} */
}