* {
    margin: 0;
    font: 0;
    box-sizing: border-box;
}

.container {
    height: 580px;
    width: 780px;
    position: fixed;
    top: 8%;
    left: 8%;
}

.box {
    height: 100%;
    width: 100%;
    background: #066AA7;
}

.gold1 {
    background: gold;
    height: 100%;
    width: 110px;
    position: absolute;
    top: 0;
    left: 30%;
}

.gold2 {
    background: gold;
    height: 110px;
    width: 100%;
    position: absolute;
    top: 40%;
    left: 0%;
}