* {
    margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Merriweather:300|Permanent+Marker&display=swap');

.projects-container {
    height: auto;
    padding: 1em;
}

.projects-container h1 {
    font-family: 'Merriweather', serif;
    font-size: 150px;
    color: #1F262A; 
    position: relative;
    top: 40px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    width: 100%;
}



@media screen and (max-width: 760px) {
    .projects {
        display: flex;
        flex-wrap: row;
        justify-content: space-between;
        height: auto;
        width: 100%;
    }

   
}