* {
    margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Merriweather:300|Permanent+Marker&display=swap');

.projects-container {
    /* border: rgb(212, 182, 212) 2px solid; */
    height: auto;
    padding: 30px;
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 150px;
    position: relative;
    top: 40px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    width: 100%;
}

.card-container {
    background: #D291BC;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    color: #ffffff;
    flex-grow: 3;
    width: 48%;
    padding: 5px;
}

.card-container > h3 {
    font-size: 50px;
    size: 100px;
    padding: 50px;
}

.card-container > .description {
    width: 300px;
    font-size: 30px;
    text-align: center;
    padding: 50px;
}

.card-container:first-child {
    background:#7B919E;
    flex-grow: 3;
    width: 100%;
  }