* {
    margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.projects-container {
    font-family: 'Raleway', sans-serif;
    color: #1F262A; 
    padding: 1.5rem 4rem;
    border-top: 1px solid rgb(31, 38, 42, 0.3);
}

.projects-container h1 {
    font-size: 3rem;
    padding-bottom: 2rem;
}

.projects-card-container {
    height: 100vh;
}

.projects-one, .projects-two, .projects-three {
    height: 33%;
}

.my-projects:nth-child(2n) {
    background-color: rgb(127, 255, 212, 0.4);
}

@media screen and (min-width: 768px) {
    .projects-card-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: none;
        grid-gap: 1rem;
    }
}