* {
    margin: 0;
}

.navbar {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    align-items: center;
    padding: 10px;
    width: 100vw;
}

.navbar > a {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
}

.navbar > a:hover {
    background-color: #be4031;
}

.header {
    background: #1a2128;
    height: 100px;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    color: #be4031;
}

.home {
    background: #1a2128; 
    width: 200px;
    height: 100vh;
}

.home > img {
    height: 50vh;
    width: 100vw;
    z-index: 2;
}
