* {
    margin: 0;
}

.navbar {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    align-items: center;
    padding: 10px;
    width: 100vw;
}

.navbar > a {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
}

.navbar > a:focus {
    background-color: #be4031;
}

.header {
    background: #1a2128;
    height: 100px;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    color: #be4031;
}

.home {
    /* background: #1a2128;  */
    background-image: url('https://unsplash.com/photos/Tmz8FThN_BE');
}

.home > img {
    height: auto;
    width: 250px;
}
