* {
    margin: 0;
    font: 0;
    box-sizing: border-box;
}

.container {
    height: 580px;
    width: 580px;
    position: fixed;
    top: 8%;
    left: 20%;
}

.box {
    height: 580px;
    width: 580px;
    background: red;
}

.white1 {
    background: white;
    height: 365px;
    width: 110px;
    position: relative;
    bottom: 81%;
    left: 40%;
}

.white2 {
    background: white;
    height: 110px;
    width: 365px;
    position: relative;
    bottom: 121%;
    left: 18%;
}