* {
    margin: 0; 
    border: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'verdemoderna';
    /* font-style: 'normal'; */
    src: url('http://www.csszengarden.com/214/verdemoderna.woff') format('woff');
}

body {
    display: grid;
    grid-template-rows: 1fr;
    font-family: "Libre Baskerville", sans-serif;
    color: #325050;
    line-height: 20.16px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
    text-align: start;
    text-indent: 0px
    font-size: 10px;
}

.header {
    height: 250px;
    background-image: url('./images/contours-opaque.png'), url('./images/huntington.jpg');
    overflow-y: auto;
    background-position: left; 
    background-repeat: no-repeat; 
    background-size: cover;
    text-align: center;
    line-height: 30px;
    color: #fff;
    border-top: 10px #325050 solid;
}

.header h1 {
    font-family: "Julius Sans One", sans-serif;
    font-size: 27px;
    margin-top: 65px;
    margin-right: 231px
}


#circle {
    width: 80px;
    float: left;
    opacity: 0.6;
    margin-top: 35px;
    margin-left: 200px;
}

.navigation {
    position: absolute;
    top: 185px;
    background: transparent;
    height: 65px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family:  "Julius Sans One", sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: rgb(255, 255, 255, 0.2);
}

#view {
    font-size: 12px;
    color: white;
}

#arrow-left, #arrow-right {
    font-size: 75px;
    color: white; 
}

#left {
    position: left;
    font-size: 10px;
}

#beauty, .design-by {
    color: rgba(255,255,255,0.6);
}

#beauty, .footer {
    font-size: 12px;
    font-style: italic;
}

#beauty {
    margin-right: 220px
}

.about{
    background: #fff;
    height: auto;
}

.participation {
    background: rgba(138,188,159,0.5);
    height: auto;
}

.requirements {
    background: #fff;
    height: auto;
}

.design-by > p {
    height: auto;
    background-image: url('./images/contours-opaque.png'), url('./images/koi.jpg');
    background-position: left; 
    background-repeat: no-repeat; 
    background-size: 50% auto, cover;
    text-align: center;
    margin: 0;
    padding: 16.8px;
    font-size: 17px;
    font-style: italic;
    line-height: 33.6px;
}

.design-by > p > a {
    color:  #fff;
    font-style: normal;
}

.social-media {
    background: #134347;
    height: 100px;
    text-align: center;
    font-family: 'verdemoderna';
}

.social-media > a {
    color: #ffff;
}

.credits {
    background: rgba(255,255,255,0.6);
    height: auto;
    margin: 0;
}

p {
    margin-right: 30px;
    margin-left: 30px;
    font-size: 10px;
    padding-top: 5px;
}

.list {
    list-style: none;
    display: grid;
    grid-template-areas: 
    'l l'
    'l l'
    'l l'
    'l l';
    color: #c0cac3;
    font-style: italic;
    background: #e5ede8;
    padding: 0;
}

.list-items {
    float: left;
    padding: 10px;
    border-top: #134347 1px solid;
}


#one, #two, #three, #four, #five, #six, #seven, #eight {
    grid-area: l;
}


a {
    text-decoration: none;
    color: #325050;
    
}

.name {
    font-family: "Julius Sans One", sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    padding: 2px;
    font-style: normal;
}
.name-two {
    font-style: normal;
    font-size: 9px;
}

.links-container {
    background: rgba(138,188,159,0.5);
    height: auto;
}

.links {
    list-style: none;
    display: grid;
    grid-template-areas: 
    'g g'
    'g g'
    'g g';
    grid-row-start: 1;
    text-align: left;
    text-transform: uppercase;
    padding: 0;
}

.links > li {
    align-items: left;
    padding: 10px;
    border-top: #134347 1px solid;
    width: 100%;
}

.links > li:last-child {
    border: none;
}

h1 {
    font-family: "Julius Sans One", sans-serif;
    font-size: 21px;
}


h3 {
    font-family: "Julius Sans One", sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    margin-right: 30px;
    margin-left: 30px;
    padding-top: 10px;
}

h4 {
    font-style: italic;
}

@media screen and (min-width: 1000px) {
    body {
        grid-template:
        "header nav" 18vh
        "about credits" auto
        "part part" auto
        "req links" auto
        "design design" auto
        "footer footer" auto
        / 65vw 35vw;
    }

    .navigation {
        grid-area: nav;
        width: 35%;
        height: 245px;
        position: absolute;
        right: 0;
        top: 0;
    }

    .header{
        grid-area: header; 
    }

    .about {
        grid-area: about;  
    }
    .participation {
        grid-area: part; 
        padding-right: 35vw;
        background-attachment: 
    }
    
    .requirements {
        grid-area: req; 
    }
    
    .design-by{
        grid-area: design; 
        text-align: center;
    }
    
    .footer {
        grid-area: footer; 
    }
    
    .credits {
        grid-area: credits;
        display: flex;
        flex-direction: row;
    }
    
    .links-container {
        grid-area: links; 
        height: 555px;
        background:#e5ede8;
    }

    h3 {
        font-size: 22px;
        padding: 30px 80px 0px 80px;
    }

    p {
        font-size: 13px;
        line-height: 24px;
        padding: 30px 80px 0px 80px;
    }

    .list{
        width: 100%;
        display: flex;
        flex-direction: column;
        background: #e5ede8; 
        padding-left: 60px;
        padding-top: 60px;
        margin: 0;
    }

    .list-items {
        border-bottom: #607476 1px solid;
        font-size: 14px;
        width: 200px;
    }

    .links {
        display: flex;
        flex-direction: column;
        /* background: #e5ede8; */
        padding-left: 60px;
        padding-top: 60px;
    }

    .links > li {
        height: 50px;
        width: 200px;;
        border-bottom: #607476 1px solid;
    }

}
