* {
    margin: 0;
    font: 0;
    box-sizing: border-box;
}

.container {
    position: absolute;
    top: 24%;
    left: 16%;
    height: 386px;
    width: 580px;
}

.box {
    display: inline-block;
    height: 386px;
    width: 580px;
    border: 1px lightblue solid;
}

.blue {    
    background: blue;
    width: 33%;
}

.white {
    position: relative;
    right: 5px;
    background: white;
    width: 32%;
}

.red {
    background: rgb(237, 41, 57);
    width: 33%;
    position: relative;
    right: 10px;

}