* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Petit+Formal+Script&display=swap');

.intro-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: auto;
    font-family: 'Raleway', sans-serif;
    color: #1F262A;
    padding: 1.5rem 8rem;
}

.intro-left span {
    font-size: 1em;
    font-family: 'Petit Formal Script', cursive;
}

.intro-left {
    height: auto;
}

.intro-left_title {
    font-size: 2.5em;
}

.intro-left_description {
    padding: 2em 6em 0 0;
    font-size: 1.5em;
    font-weight: bold;
}

.intro-left_paragraph {
    font-size: 1.5em;
    padding: 0.5em 0;
}

.intro-right_paragraph {
    font-size: 1.5em;
    /* padding: 0.5em 0; */
}

@media screen and (min-width: 768px) {
    .intro-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: none;
        grid-gap: 1rem;
        padding: 1.5rem 10rem;
    }

    .intro-left_title {
        font-size: 3em;
    }

    .intro-left_paragraph {
        font-size: 2rem;
    }

    .intro-right_paragraph {
        padding-top: 7rem;
        font-size: 2rem;
    }

    .intro-left_description {
        font-size: 2rem;
    }
}