* {
    margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Pacifico|Acme&display=swap');

.recipes-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(10, 1fr);
    
}

.recipe-div {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    font-size: 20px;
    padding-right: 10px;
    font-family: 'Acme', cursive;
}

.recipe-div > a {
    font-size: 20px;
    word-wrap: break-word;
}

.recipe-div > img {
    width: 200px;
    float: none;
}

.search {
    width: 110vh;
    height: 200px;
    background: #226B7C;
}