* {
    margin: 0;
}

.recipes-container {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
}

.recipe-div {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    height: 400px;
    width: 100px;
    font-size: 20px;
    padding-right: 10px;
}

.recipe-div > a {
    font-size: 20px;
    word-wrap: break-word;
}

.recipe-div > img {
    width: 100px;
    float: none;
}

.search {
    width: 110vh;
    height: 200px;
    background: peachpuff;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .like {
    color: #ea0000;
    outline: none;
    background: #fff;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    box-shadow: 0 0 22px 4px rgba(0,0,0,0.1);
    height: 40px;
    width: 100px;
    transition: box-shadow 0.3s;
    &:hover {
       box-shadow: 3px 3px 22px 4px rgba(0,0,0,0.1);
    }
  }